%link{rel: :stylesheet, type: :'text/css', href: 'dense35.css', media: 'screen'}
.charsheet
  .sheet-grid
    .sheet-header
      .sheet-header-row1
        .sheet-label.sheet-charname Name:
        .sheet-ui.sheet-charname
          %input{type: 'text', name: 'attr_charname'}
        .sheet-label.sheet-race Race:
        .sheet-ui.sheet-race
          %input{type: 'text', name: 'attr_race'}
        .sheet-label.sheet-class Class:
        .sheet-ui.sheet-class
          %input{type: 'text', name: 'attr_class'}
        .sheet-label.sheet-religion Religion:
        .sheet-ui.sheet-religion
          %input{type: 'text', name: 'attr_religion'}
      .sheet-header-row2
        .sheet-label.sheet-height Ht:
        .sheet-ui.sheet-height
          %input{type: 'text', name: 'attr_height'}
        .sheet-label.sheet-weight Wt:
        .sheet-ui.sheet-weight
          %input{type: 'text', name: 'attr_weight'}
        .sheet-label.sheet-sex Sex:
        .sheet-ui.sheet-sex
          %input{type: 'text', name: 'attr_sex'}
        .sheet-label.sheet-age Age:
        .sheet-ui.sheet-age
          %input{type: 'text', name: 'attr_age'}
        .sheet-label.sheet-alignment Alignment:
        .sheet-ui.sheet-alignment
          %input{type: 'text', name: 'attr_alignment'}
        .sheet-label.sheet-level Level:
        .sheet-ui.sheet-level
          %input{type: 'text', name: 'attr_level'}
        .sheet-label.sheet-xp XP:
        .sheet-ui.sheet-xp
          %input{type: 'text', name: 'attr_xp'}
        .sheet-label.sheet-needed Needed:
        .sheet-ui.sheet-needed
          %input{type: 'text', name: 'attr_needed'}
        .sheet-label.sheet-speed Speed:
        .sheet-ui.sheet-speed
          %input{type: 'text', name: 'attr_speed'}
      .sheet-header-row3
        .sheet-label.sheet-region Region:
        .sheet-ui.sheet-region
          %input{type: 'text', name: 'attr_region'}
        .sheet-label.sheet-eyes Eyes:
        .sheet-ui.sheet-eyes
          %input{type: 'text', name: 'attr_eyes'}
        .sheet-label.sheet-hair Hair:
        .sheet-ui.sheet-hair
          %input{type: 'text', name: 'attr_hear'}
        .sheet-label.sheet-appearance Appearance:
        .sheet-ui.sheet-appearance
          %input{type: 'text', name: 'attr_appearance'}
    .sheet-ability-scores
      .item A
      .item A
      .item A
    .sheet-saves-ac
      .item A
      .item A
      .item A
    .sheet-attack-bonus
      .item A
      .item A
      .item A

    .sheet-weapons
      .sheet-label.sheet-table-header.sheet-weapons-header Weapons
      .sheet-label.sheet-table-header.sheet-tohit-header To Hit
      .sheet-label.sheet-table-header.sheet-damage-header Damage
      .sheet-label.sheet-table-header.sheet-crit-header Critical
      .sheet-label.sheet-table-header.sheet-range-header Range
      .sheet-label.sheet-table-header.sheet-wpnsize-header Size
      .sheet-label.sheet-table-header.sheet-wpnwt-header Wt
      .sheet-label.sheet-table-header.sheet-wpnspecial-header Special Abilities
      - (1..7).each do |i|
        - %w(weapons tohit damage crit range wpnsize wpnwt wpnspecial).each do |val|
          .sheet-ui{class: "sheet-#{val}#{i}"}
            %input{type: 'text', name: "attr_#{val}#{i}"}

    .sheet-armor
      .sheet-label.sheet-table-header.sheet-armor-header Armor/Shield/Item
      .sheet-label.sheet-table-header.sheet-bonus-header Bonus
      .sheet-label.sheet-table-header.sheet-maxdex-header Max Dex
      .sheet-label.sheet-table-header.sheet-penalty-header &#10004;Penalty
      .sheet-label.sheet-table-header.sheet-spell-header Spell&#9785;
      .sheet-label.sheet-table-header.sheet-armorwt-header Wt
      .sheet-label.sheet-table-header.sheet-armorspecial-header Special Abilities
      - (1..5).each do |i|
        - %w(armor bonus maxdex penalty spell armorwt armorspecial).each do |val|
          .sheet-ui{class: "sheet-#{val}#{i}"}
            %input{type: 'text', name: "attr_#{val}#{i}"}

    .sheet-traits-abilities
      .sheet-label.sheet-table-header.sheet-racial-traits-header Racial Traits
      - (1..8).each do |i|
        .sheet-ui{class: "sheet-racial-traits#{i}"}
          %input{type: 'text', name: "attr_racial-traits#{i}"}
      .sheet-label.sheet-table-header.sheet-languages-header Languages
      - (1..8).each do |i|
        .sheet-ui{class: "sheet-languages#{i}"}
          %input{type: 'text', name: "attr_languages#{i}"}
      .sheet-label.sheet-table-header.sheet-class-abilities-header Class Abilities
      - (1..17).each do |i|
        .sheet-ui{class: "sheet-class-abilities#{i}"}
          %input{type: 'text', name: "attr_class-abilities#{i}"}
      .sheet-label.sheet-table-header.sheet-feats-header Feats
      - (1..17).each do |i|
        .sheet-ui{class: "sheet-feats#{i}"}
          %input{type: 'text', name: "attr_feats#{i}"}
          ``
    .sheet-equipment
      .sheet-label.sheet-table-header.sheet-equipment-header EQUIPMENT
      .item A
      .item A
      .item A
    .sheet-carry-weight
      .item A
      .item A
      .item A
    .sheet-skills
      .item A
      .item A
      .item A
